/* Required for React Scheduler */
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import 'bootstrap/dist/css/bootstrap.min.css';


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.outlet {
  flex: 1;
  margin-bottom: 100px;
}

.blackbkgrnd {
  background-color: black !important;
}
.carousel-item img {
    max-width: 25%; /* or any specific pixel value */
    height: auto; /* maintain aspect ratio */
  }

.Schedule-container {
    max-width: 50%;
    margin: auto;
    
    max-height: 20%;
}

.custom-scheduler .e-content-wrap {
  background-color: black !important;
}
/* End Schedule CSS */

/* Homepage Styling */
.homeContainer {
  display: flex;
  flex-direction: column;
  background-color: #151619;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #4586BF;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.btn button {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #151619;
  border-color: #4586BF;
  color: #BFB3A4;
}

.btn-success {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #151619;
  border-color: #4586BF;
  color: #4586BF;
  font-weight: bold;
}

.btn button:hover {
  background-color: #4fa8d1;
  color: #151619;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.card {
  flex-basis: calc(33.333% - 40px);
  border: 2px solid #4586BF;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: #BFB3A4;
}

.quoteContainer {
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #4fa8d1;
  color: #151619;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.timerContainer, .bottomRight {
  padding: 20px;
}

.timerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 50px;
  background-color: #282c34;
  color: #4586BF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #4fa8d1;
  border-radius: 8px;
}

.timer h2 {
  margin: 0;
}

.timerMode {
  font-size: 20px;
}

.timerDisplay {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 3px;
}

.timerControls {
  display: flex;
  gap: 10px;
}

.timerButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #282c34;
  background-color: #4586BF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timerButton:hover {
  background-color: #BFB3A4;
}

.bottomRight {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonialContainer, .aboutContainer {
  border: 2px solid #4586BF;
  border-radius: 8px;
  padding: 10px;
  background-color: #BFB3A4;
}

@media (max-width: 768px) {
  .cardsContainer, .bottomSection {
    flex-direction: column;
    align-items: center;
  }

  .card, .timerContainer, .bottomRight {
    flex-basis: auto;
    width: 100%;
  }

  .timerDisplay {
    font-size: 36px;
  }
  .timerControls {
    flex-direction: column;
  }
  .timerButton {
    width: 100%;
  }
}

/* SignUp Page Styling */
.signupContainer {
  display: flex;
  flex-direction: column;
  background-color: #151619;
}

.signupContainer h2 {
  text-align: center;
  color: #4fa8d1;
  margin: 2rem;
}

.signupForm {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.signupFields label{
  display: flex;
  color: #4fa8d1;
}

.signupFields input {
  display: flex;
  margin-bottom: 0.5rem;
  border: 2px solid #4586BF;
  background-color: #F2E7DC;
  border-radius: 8px;
  padding: 0.5rem;
}

.loginLink {
  display: flex;
  color: #4fa8d1;
  flex-direction: column;
  text-align: center;
}

/* Login Page Styling */
.loginContainer {
  display: flex;
  flex-direction: column;
  background-color: #151619;
  
}

.loginTitle {
  text-align: center;
  color: #4fa8d1;
  margin: 2rem;
}

.loginForm {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.loginFields input {
  display: flex;
  margin-bottom: 0.5rem;
  background-color: #F2E7DC;
  border: 2px solid #4586BF;
  border-radius: 8px;
  padding: 0.5rem;
}

.loginError {
  border: 2px solid #4586BF;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 2rem;
  color: red;
}

.signupLink {
  display: flex;
  color: #4fa8d1;
  flex-direction: column;
  text-align: center;
}

/* Profile Page Styling */
.profileContainer {
  display: flex;
  flex-direction: column;
  background-color: #151619;
}

.profileContainer h2 {
  text-align: center;
  color: #4fa8d1;
  margin: 2rem;
}

.avatarContainer {
  display: flex;
  justify-content: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #151619;
  font-size: 3rem;
  margin: 30px 20px;
}

.color-options button {
  display: flex;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 5px;
}

.color-options button:focus {
  outline: 3px solid grey;
}

.editFields {
  display: flex;
  justify-content: center;
}

.editFields input {
  display: flex;
  margin-bottom: 0.5rem;
  border: 2px solid #4586BF;
  background-color: #F2E7DC;
  border-radius: 8px;
  padding: 0.5rem;
}

.points {
  color: #4fa8d1;
}

/* Task Page Styling */
.taskContainer {
  display: flex;
  flex-direction: column;
  background-color: #151619;
}

.addTaskTitle {
  text-align: center;
  color: #4fa8d1;
  margin: 2rem;
}

.addTaskSection {
  display: flex;
  justify-content: center;
}

.addTaskInputs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  flex-direction: column;
  max-width: fit-content;
}

.addTaskInputs input {
  display: flex;
  margin-bottom: 0.5rem;
  border: 2px solid #4586BF;
  background-color: #F2E7DC;
  border-radius: 8px;
  padding: 0.5rem;
}

.taskListTitle {
  text-align: center;
  color: #4fa8d1;
  margin: 2rem;
}

.taskList {
  margin: 2rem;
  background-color: #BFB3A4;
  border: 2px solid #4586BF;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.taskList li {
  background-color: #151619;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid #4586BF;
  border-radius: 8px;
  color: #4fa8d1;
  text-align: center;
  list-style: none;
  font-size: 18px;
}

.taskList button {
  margin-right: 0.5rem;
}

.taskBtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .addTaskInputs, .taskList li {
    padding: 5px;
    text-align: left; /* Align text to the left for a clearer structure */
  }

  .addTaskInputs input, .addTaskInputs button, .addTaskInputs div {
    width: 100%; /* Maximize width utilization on very small screens */
  }

  .taskBtn button {
    flex: 1; /* Buttons take equal space in the container */
  }
}


/* Community Page Styling */
.communityContainer {
  display: flex;
  flex-direction: column;
  background-color: #151619;
}

.communityContainer h1 {
  text-align: center;
  color: #4fa8d1;
  margin-top: 2rem;
}

.commP {
  color: #4fa8d1;
  text-align: center;
}

.featuresSection, .testimonialSection, .postCreationSection {
  margin: 1rem;
  background-color: #BFB3A4;
  border: 2px solid #4586BF;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.featuresSection h5 {
  color: #4586BF;
}

.commItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.commCard {
  background-color: #151619;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid #4586BF;
  border-radius: 8px;
  color: #4fa8d1;
  text-align: center;
  flex: 1 1 200px; 
}

.postForm {
  display: flex;
  justify-content: center;
}

.postForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.postForm form input, .postForm form textarea {
  width: calc(100% - 2rem);
  margin-bottom: 0.5rem;
  border: 2px solid #4586BF;
  background-color: #F2E7DC;
  border-radius: 8px;
  padding: 0.5rem;
}

.testimonialSection h2 {
  margin-bottom: 1rem;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
  .featuresSection, .testimonialSection, .postCreationSection {
    padding: 10px;
    margin: 0.5rem;
  }

  .commItems {
    padding: 0;
  }

  .postForm form input, .postForm form textarea {
    width: calc(100% - 1rem); /* Smaller padding on smaller screens */
  }

  .commCard {
    flex: 1 1 100%; /* Stacks the cards vertically on very small screens */
  }
}

/* Navbar Styling */
.divCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #151619;
  border-bottom: 1px solid #4586BF;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #151619;
  border: 2px solid #F2E7DC;
}

.navbar-container a {
  text-decoration: none;
}

.navbar-container h3 {
  color: #4586BF;
  text-align: center;
}

.burgerBox {
  border: solid #4586BF 2px;
  padding: 5px;
  border-radius: 10px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #4586BF;
  margin: 3px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #151619;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0 0 10px 10px;
  z-index: 10;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #151619;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0 0 10px 10px;
  z-index: 10;
  width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}

.nav-links.closed {
  display: none;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links li a {
  color: #4586BF;
  padding: 0.5rem;
  display: block; 
}

.nav-links li a:hover {
  color: #BFB3A4;
}

/* Footer styling */
.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #151619;
  font-size: 18px;
  border-top: 1px solid #4586BF;
  padding: .1rem;
  z-index: 1;
  }

.footerContainer a {
  margin-left: 0.3rem;
}

.siteRepo {
  display: flex;
  justify-content: center;
  color: #4586BF;
  margin-top: 0.5rem;
}

.siteRepo a:hover {
  color: #BFB3A4;
}

.devs {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  color: #4586BF;
  font-size: 20px;
  flex-wrap: wrap;
}

.dev {
  display: flex;
}

.dev a:hover {
  color: #BFB3A4;
}

/* other classes */

.white {
  color: white;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
}
.butterfly {
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style:inherit;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
}


.font50 {
  font-size: 50px;
}

.white {
  color: white;
}


/* Matt adding profileCenter class for profile page */

.profileCenter {
  display: flex;
  justify-content: center;
}

.buddyBox {
  
}