/* Required for React Scheduler */
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

.carousel-item img {
    max-width: 25%; /* or any specific pixel value */
    height: auto; /* maintain aspect ratio */
  }

.Schedule-container {
    max-width: 50%;
    margin: auto;
    
    max-height: 20%;
}

/* End Schedule CSS */
/* Navbar Styling */

.white {
  color: white;
}

.black {
  color: black;
}

.divCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #42353a;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burgerBox {
  border: solid #e4bfc6 2px;
  padding: 5px;
  border-radius: 10px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #e4bfc6;
  margin: 3px 0;
}

.nav-links {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #42353a;
}

.nav-links.open {
  display: flex;
  justify-content: center;
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: absolute;
  top: 70px;
  right: 1rem;
  background-color: #42353a;
  z-index: 10;
}

.nav-links li {
  margin: 0.5rem 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
}

.nav-links li a:hover {
  color: #e4bfc6;
}

.butterfly {
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style:inherit;
}

.font50 {
  font-size: 50px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

